<!DOCTYPE html>
<html>
<head>
    <title>
        Footer
    </title>
    
    <link href="../css/stileGenerale.css" rel="stylesheet" type="text/css">
    <link href="../css/footer.css" rel="stylesheet" type="text/css">
</head>

<body>
    <footer>
        <table>

        <tr>
            <td> </td>
            <th> Per lui </th>
            <th> Per lei </th>
            <th> Per entrambi </th>
            <th> Contatti </th>
         </tr>

         <tr> 
            <td > </td>
            <td> <a href="https://www.google.it/"> -bracciali </a> </td>
            <td> <a href="https://www.google.it/"> -bracciali </a> </td>
            <td> <a href="https://www.google.it/"> -bracciali </a> </td>
            <td> tel. 089647447 </td>
        </tr>

        <tr>
            <td> <a href="https://www.google.it/"> -CHI SIAMO </a> </td>
            <td> <a href="https://www.google.it/"> -collane </a> </td>
            <td> <a href="https://www.google.it/"> -collane </a> </td>
            <td> <a href="https://www.google.it/"> -fedi nunziali </a> </td> 
            <td> email: aleriogioeielli@gmail.com </td>
        </tr>

        <tr>  
            <td> <a href="https://www.google.it/maps/place/Universit%C3%A0+degli+Studi+di+Salerno/@40.7686985,14.7894982,17z/data=!3m1!4b1!4m5!3m4!1s0x133bc5c7456b88bd:0x80bab96149d2993d!8m2!3d40.7686945!4d14.7916869"> -DOVE CI TROVIAMO </a> </td>
            <td> <a href="https://www.google.it/"> -anelli </a> </td>
            <td> <a href="https://www.google.it/"> -anelli </a> </td>
            <td> </td>
            <td> <a href="https://www.facebook.com/viola.rosati"> facebook </td>
        </tr>

        <tr>
            <td> <a href="file:///C:/Users/Utente/Desktop/vs%20code%20exercise/domande_frequenti.html"> -DOMANDE FREQUENTI  </a></td>
            <td> </td>
            <td> <a href="https://www.google.it/"> -orecchini </a> </td>
            <td> </td>
            <td> <a href="https://www.instagram.com/_alessia_amato_/"> instagram </a> </td>
        </tr>

        <tr>
            <td> </td>
            <td> </td>
            <td> <a href="https://www.google.it/"> -anelli </a> </td>
            <td> </td>
            <td> </td>
         </tr>       
          
         <tr>
            <td> </td>
            <td> </td>
            <td> <a href="https://www.google.it/"> -ciondoli </a> </td>
            <td> </td>
        </tr>
     
         <tr>
            <td> </td>
            <td> </td>
            <td> <a href="https://www.google.it/"> -coordinati </a> </td>
             <td> </td>
        </tr>

        </table>
    </footer>
</body>
</html>