
<footer>
       	

			<div class="primaCol">
				<br> 
				<br>
				<br>
				<p> <a href="/progetto-TSW/presentationPage.jsp"> -CHI SIAMO  </a> </p>
				<p> <a href="https://www.google.it/maps/place/Universit%C3%A0+degli+Studi+di+Salerno/@40.7686985,14.7894982,17z/data=!3m1!4b1!4m5!3m4!1s0x133bc5c7456b88bd:0x80bab96149d2993d!8m2!3d40.7686945!4d14.7916869" target="_blank"> -DOVE CI TROVIAMO </a> </p>
				<p> <a href="/progetto-TSW/domandeFrequenti.jsp"> -DOMANDE FREQUENTI  </a> </p>
			</div>
			
			<div class="secondaCol">
				<h1> Per lui  </h1>
				<p>  <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=bracciale&genere=Uomo"> -bracciali </a> </p>
				<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=anello&genere=Uomo"> -anelli </a> </p>
				<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=collana&genere=Uomo"> -collane </a> </p>
			</div>
       
       
       		<div class="terzaCol"> 
       			<h1> Per lei </h1>
       			<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=bracciale&genere=Donna"> -bracciali </a> </p>
       			<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=collana&genere=Donna"> -collane </a> </p>
       			<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=anello&genere=Donna"> -anelli </a> </p>
       			<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=orecchini&genere=Donna"> -orecchini </a> </p>
       			<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=ciondolo&genere=Donna"> -ciondoli </a> </p>
       			<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=coordinato&genere=Donna"> -coordinati </a> </p>
       		</div>
       		
       		
       		<div class="quartaCol"> 
       			<h1> Per entrambi </h1>
       			<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=bracciale&genere=Uomo"> -bracciali </a> </p>
       			<p> <a href="https://localhost:8443/progetto-TSW/catalogo?categoria=collana&genere=Uomo"> -fedi nunziali </a> </p>
       		</div>
       		
       		
       		<div class="quintaCol"> 
       			<h1> Contatti </h1>
       			<p> tel/fax: 089647447  </p>
       			<p> email: aleriogioeielli@gmail.com </p>
       			<p> <a href="https://www.facebook.com/profile.php?id=100068969559163"> facebook </a> </p>
       			<p> <a href="https://www.instagram.com/aleriogioielli/"> instagram </a> </p>
       		</div>       

        
</footer>