<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Ecommerce</display-name>
  <welcome-file-list>
    <welcome-file>catalogo</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/storage</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>Catalogo</servlet-name>
    <servlet-class>control.CatalogoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catalogo</servlet-name>
    <url-pattern>/catalogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AggiungiCarrello</servlet-name>
    <servlet-class>control.AggiungiCarrelloProdottiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiCarrello</servlet-name>
    <url-pattern>/aggiungiCarrello</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Carrello</servlet-name>
    <servlet-class>control.MostraCarrello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carrello</servlet-name>
    <url-pattern>/carrello</url-pattern>
  </servlet-mapping>
  
</web-app>