
header{
    height: 10%;
    width: 100%;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding: 0;
    margin: 0;
    border: 0;
    top: 0%;
    position: fixed;
    text-align: center;
}

header h1{
	text-align: center;
	content-align: center;
	text-color: black;
	font-family: "lucida calligraphy";
	font-size: xx-large;
	display: inline-block;
}


header nav{
    background-color:white;
    height: 50%;
    display: inline-block;
    float: right;
}


header img{
    float: left;
    margin: 5px 5px;
    padding: 5px 5px; 
    display: inline-block;
}



header li{
    display: inline;
}

header .primo{
	text-align: center;
	width: 100%;
	height: 70%;
}

header table{
	width: 100%;
	height: 30%;
	background-color: grey;
}
