
header{
    height: 10%;
    width: 100%;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding: 0;
    margin: 0;
    border: 0;
    top: 0%;
    display: inline-block;
    position: fixed;
}

header nav{
    background-color:white;
    height: 100%;
    display: inline;
    float: right;
}

header img{
    float: left;
    margin: 5px 5px;
    padding: 5px 5px;
}

header .logo{
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    
}

header li{
    display: inline;
}
