/*setta sfondo e colore del testo*/
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 98%;
	height: auto;
    background-color: black;
    color: white;
    margin: 0 1%;
    padding: 0 1%;
}

footer div {
	text-align: left;
	flex-direction: row;
	justify-content: space-between;
}

/*setto il colore dei link sempre a bianco*/
footer a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px){
	footer{
		flex-direction: column;
		justify-content: center;
	}
	
	footer div {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	
}