@charset "ISO-8859-1"; 

.interna{
    width: 98%;
    height: 20%;
    padding: 2%;
    margin: 3% 1%;
    border: 5%;
    table-layout: fixed;
    color: black;
    
}

.esterna{
	width: 98%;
    height: 20%;
    padding: 2%;
    margin: 3% 1%;
    border: 5%;
    table-layout: fixed;
    color: black;
    align-content: center;
    text-align: center;
}

a{
    color: violet;
}

.main{
        width:100%;
 }
 
 h1{
 	text-align: center;
 	color: mediumvioletred;
 }