@charset "ISO-8859-1"; 

#homepage{
	width: 100%;
}
#homepage .interna{
	display: flex;
	justify-content: space-between;
	height: 100%;
}

#homepage .esterna{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 96%;
    height: 20%;
    padding: 2%;
    margin: 2% 1%;
    border: 0 5%;
    color: black;
    align-content: center;
    text-align: center;
}

#homepage a{
    color: violet;
}

#homepage div.linea p{
	width: 46%;
	margin: 3%;
}

#homepage div.tit{
	width: 46%;
	flex-direction: column;
}

#homepage .linea{
	display: flex;
	text-align: center;
	width: 100%;
}

#homepage .main{
        width:100%;
}

#homepage span{
	font-weight: bold;
}
 
#homepage h1{
	text-align: center;
 	color: mediumvioletred;
 }
 
#homepage figure
{
	margin-top: 0;
}

#homepage .recensioni{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-bottom: 3%;
}

#homepage .imgRec{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#homepage .paragrafoRecensioni{
	justify-content: center;
	width: 30%;
}


@media screen and (max-width: 600px) {
  #homepage .linea {
    flex-direction: column;
  }
  
  #homepage .esterna{
  	font-size: 120%; 
  }
  
  #homepage div.tit{
  	width: 100%;
  	margin: 2% 0;
  }
  
  #homepage div.linea p{
  	width: 100%;
  	margin: 2% 0;
  }
  
  #homepage .imgRec{
  	flex-direction: column;
  	justify-content: center;
  }
  
  #homepage .paragrafoRecensioni{
 	width: 100%;
 	font-size: 120%;
  }
  
  
}