body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: thistle;
    color: black;
}

 
#loginPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 25%;
    background-color: orchid;
    color: black;
    padding: 6% 10%;
    margin: 5% 30%;
    border-radius: 8%;
}


#loginPage .bottone {
    width: auto;  
    border-radius: 40%;
	-moz-border-radius: 40%; /* firefox */ 
    -webkit-border-radius: 40%; /* safari, chrome */
    cursor: pointer; 
    padding: 10% 20%;
    border-style: hidden;
	background: bisque;
	border-color: bisque;
	text-align: center;
}

#form-login{ 
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
    width: 100%;
    height: 100%;
}

#loginPage .contenitoreBottone{
	display: flex;
	width: 60%;
	padding: 0% 5%;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5vw;
	text-align: center;
}

#loginPage .input{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 2vw;
	margin: 5% 0;
}

#loginPage h1{
	font-size: 4vw;
}

#loginPage #login-button{
	font-size: 1.5vw;
}

#loginPage .errore{
	font-size: 1.5vw;
}


@media screen and (max-width: 600px) {
	#loginPage {
		width: 60%;
	}
	
	#loginPage h1{
		font-size: 6vw;
	}
	
	#loginPage .contenitoreBottone{
		font-size: 4vw;
	}
	
	#loginPage .input{
		font-size: 4vw;
	}
	
	#loginPage #login-button{
	font-size: 3vw;
	}
	
	#loginPage .errore{
	font-size: 3vw;
	}
	
}