body {
    background-color: thistle;
    color: black;
    align-content: center;
}
 
#loginPage {
    width: 25%;
    height: 58%;
    background-color: orchid;
    color: black;
    align-content: center;
    text-align: center;
    padding: 0% 10%;
    margin: 5% 30%;
    border-radius: 8%;
}

#loginPage .bottone {
    height: 5%;
    width: 40%;  
    border-radius: 40%;
	-moz-border-radius: 40%; /* firefox */ 
    -webkit-border-radius: 40%; /* safari, chrome */
    cursor: pointer; 
    padding: 5% 9%;
    border-style: hidden;
	background: bisque;
	border-color: bisque;
	text-align: center;
}

#loginPage form{  
    align-content: center;
    text-align: center;
}