loginPage body {
    background-color: thistle;
    color: black;
    align-content: center;
    margin: 50px;
}
 
loginPage div {
    width: 350px;
    height: 300px;
    background-color: orchid;
    color: black;
    align-content: center;
    text-align: center;
    padding: 100px 100px;
    margin: 50px 400px;
}

loginPage .bottone {
    display: inline;
}

loginPage form{            
    align-content: center;
}