@charset "ISO-8859-1";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: thistle;
    color: black;
}

#signinPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 25%;
    background-color: orchid;
    color: black;
    padding: 0% 10%;
    margin: 10% 30%;
    border-radius: 8%;
    text-align: center;
}

#signinPage .bottone {
    width: auto;  
    border-radius: 40%;
	-moz-border-radius: 40%; /* firefox */ 
    -webkit-border-radius: 40%; /* safari, chrome */
    cursor: pointer; 
    padding: 10% 20%;
    border-style: hidden;
	background: bisque;
	border-color: bisque;
	text-align: center;
}

#signinPage .contenitoreBottone{
	display: flex;
	width: 60%;
	padding: 0% 5%;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5vw;
}

#signinPage h1{
	font-size: 4vw;
	text-align: center;
}

#signinPage .input{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 2vw;
}

#signinPage .genere{
	font-size: 2vw;
}

@media screen and (max-width: 600px){
	
	#signinPage{
		width: 65%;
	}
	
	#signinPage h1{
		font-size: 6vw;
	}
	
	#signinPage .contenitoreBottone{
		font-size: 4vw;
	}
	
	#signinPage .input{
		font-size: 4vw;
	}
	
	#signinPage .genere{
		font-size: 4vw;
	}
}