@charset "ISO-8859-1";

.wishlist #titolo{
	font-size: 2vw;
	text-align: center;
	width: 100%;
}

.wishlist .variante {
	display: flex;
	justify-content: space-between;
	border-style: solid;
	border-width: medium;
	border-color: black;
	margin: 2% 0%;
	width: 100%;
}

.wishlist .nome, .prezzo, .colore {
	display: flex;
	font-weight: bold;
	font-size: 1.8vw;
}

.wishlist .col1, .col2, .col3 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	font-size: 1.5vw;
	width: 20%;
}

.wishlist .col1 a:link{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.wishlist .col1 a:hover{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.wishlist .col1 a:active{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.wishlist .col1 a:visited{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.wishlist .cuore{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 18%;
}

.wishlist .cuore img{
	width: 40%;
	object-fit: contain;
}

.wishlist .cuore button{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: none;
	border: none;
	width: 100%;
}

.wishlist .immagineProdotto img {
	object-fit: contain;
	width: 100%;
}

.wishlist .immagineProdotto{
	width: 20%;
}








